.bg-custom {
    background-color: #0a8025 !important;
}

.fullscreen-loader {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.65);
    justify-content: center;
    align-items: center;
    z-index: 9999;
    display: none;
}

/*Loader comparazione*/
.fullscreen-loader .loader {
    width: 45px;
    aspect-ratio: .75;
    --c: no-repeat linear-gradient(#fff 0 0);
    background: 
      var(--c) 0%   50%,
      var(--c) 50%  50%,
      var(--c) 100% 50%;
    animation: l7 1s infinite linear alternate;
}
  
@keyframes l7 {
    0%  {background-size: 20% 50%, 20% 50%, 20% 50%}
    20% {background-size: 20% 20%, 20% 50%, 20% 50%}
    40% {background-size: 20% 100%, 20% 20%, 20% 50%}
    60% {background-size: 20% 50%, 20% 100%, 20% 20%}
    80% {background-size: 20% 50%, 20% 50%, 20% 100%}
    100%{background-size: 20% 50%, 20% 50%, 20% 50%}
}

.fullscreen-loader .loading-text {
    position: absolute;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    margin-top: 85px;
}

/*Navbar home*/
.navbar-custom {
    background: linear-gradient(to right, #28a745, #218838); /* Gradiente verde */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.navbar-custom .navbar-brand {
    font-weight: bold;
    color: white;
    font-size: 1.5rem;
    text-transform: uppercase;
}
.navbar-custom .navbar-nav .nav-link {
    color: white;
    font-size: 1rem;
    margin-right: 15px;
    transition: color 0.3s ease;
}
.navbar-custom .navbar-nav .nav-link:hover {
    color: black; /* Verde chiaro per l'hover */
}
.navbar-custom .navbar-toggler-icon {
    background-color: white;
}
.navbar-custom .form-control {
    border-radius: 25px;
    border: none;
    padding-left: 15px;
}
.navbar-custom .btn-dark {
    background-color: #333;
    border: none;
}
.navbar-custom .btn-dark:hover {
    background-color: #444;
}
.navbar-custom .btn-success {
    background-color: #28a745; /* Verde */
    border: none;
}
.navbar-custom .btn-success:hover {
    background-color: #218838; /* Verde scuro */
}